* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1377b1;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
  font-weight: 500;
  line-height: 1.6;
}

header {
  background: white;
  padding: 15px;
}

.title-main {
  color: #252532;
  text-align: center;
}

.score-board {
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 6px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 2.5em;
  padding: 15px 20px;
  position: relative;
  box-sizing: border-box;
}

.score-board__badge {
  background: #e2584d;
  color: white;
  font-size: 1.1rem;
  padding: 2px 10px;
}

.score-board__badge {
  position: absolute;
  top: 30px;
}

.score-board__badge:nth-child(1) {
  left: -25px;
}

.score-board__badge:nth-child(2) {
  right: -30px;
}

.result {
  font-size: 2em;
  color: white;
  text-align: center;
  font-weight: 600;
}

.choices {
  text-align: center;
  margin-top: 20px;
}

.choices__box {
  border: 2px solid white;
  border-radius: 10%;
  margin: 0 20px;
  padding: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choices__box:hover {
  cursor: pointer;
  background: darkorange;
}

#action-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 20px;
}

.icon {
  width: 3em;
  height: 3em;
  fill: white;
}

.green-glow {
  background-color: #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  background-color: #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.grey-glow {
  background-color: #464647;
  box-shadow: 0 0 10px #25292b;
}
